<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic CRUD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="Nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="Apellido" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Matricula</ion-label>
      <ion-input [(ngModel)]="Matricula" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input [(ngModel)]="Carrera" type="text"></ion-input>
    </ion-item>
    <ion-col>
      <ion-row>
        <ion-button type="button" (click)="addStudent()"
        color="primary" shape="full" expand="block">
        Agregar Estudiante
      </ion-button>
      </ion-row>
    </ion-col>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Lista Estudiantes
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let student of students">
      <ion-label>
        <h5>{{student.Nombre}} - {{student.Apellido}}, {{student.Matricula}}, {{student.Carrera}}</h5>
      </ion-label>

      <div class="item-note">
        <ion-icon name="create" style="zoom: 2.0;"></ion-icon>
        <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteStudent(student.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
